[Unit]
Description=Waybar
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar
Restart=on-failure
RestartSec=2
Environment=WAYLAND_DISPLAY=wayland-0

[Install]
WantedBy=graphical-session.target
